
@{
    ViewBag.Title = "test";
}

<h2>test</h2>
@{
    string xssmessage = "Jon\x3cscript\x3e%20alert(\x27pwnd\x27)%20\x3c/script\x3e";
    string message = "<script>alert('hacked');</script>";
    var items = new string[] { "one", "two", "three" };
    var isbn = "1239192387";
    <ul>
        @foreach (var item in items)
        {
            <li>The item name is @item.</li>
        }

    </ul>
    <span>Items_@items.Length</span>
    <div>@message</div>
    <div> 邮件地址自动识别不解析</div>
    <div>isbn@isbn</div>
    <div>isbn@isbn.abc</div>
    <div>isbn@isbn.abcaweqwewq</div>
    <div>isbn@isbn.com</div>
    <div>isbn@(isbn)</div>
    <div>@*@Html.Raw(message)*@</div>
}
<div id="message">
    www
</div>
<div id="result">


<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - 我的 ASP.NET 应用程序</title>
    <link href="/Content/bootstrap.css" rel="stylesheet">
<link href="/Content/site.css" rel="stylesheet">

    

    



    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">w应用程序名称</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">主页</a></li>
                    <li><a href="/Person">Person</a></li>
                    <li><a href="/Home/About">关于</a></li>
                    <li><a href="/Home/Contact">联系方式</a></li>
                    <li><a href="/Home/Test">XSSTest</a></li>
                </ul>
                <form action="/Account/LogOff" class="navbar-right" id="logoutForm" method="post"><input name="__RequestVerificationToken" type="hidden" value="4O8stMS2luyBIecrctDZ4c1SAu74VSCBp7Ub9e7zWyZa_E6QsLj0yXwADWNuoUY92w4eSfeUIWumv7evheaen27US_QvTHqSj6a4zuxhos86T9e60jYnqJUajI-avXlVnpO6MJljrQGldL_oQWtzFA2">    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="/Manage" title="Manage">你好，flavordt@gmail.com!</a>
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">注销</a></li>
    </ul>
</form>
            </div>
        </div>
    </div>
    <div class="container body-content">
        

<h2>About.</h2>
<h3>Your appliwcation description page.</h3>

<p>Use this area to provide additional information.</p>

        <hr>
        <footer>
            <p>© 2016 - 我的 ASP.NET 应用程序</p>
        </footer>
    </div>

   
    


    
    

<!-- Visual Studio Browser Link -->
<script type="application/json" id="__browserLink_initializationData">
    {"appName":"Chrome","requestId":"5761c7f4a0ca4be1a00f8332ab923751"}
</script>

<!-- End Browser Link -->



</div>
<script>  
        var ww = 'hello,@ViewBag.UserName1 ';
        $('#message').html(ww).show('slow');
</script>
@section Footer{
    This is the footer.
}
<input type="text" name="name" value="" />
<input type="text" name="1name" value="" />
<script>
    $('#result').load('/home/about');
</script>
<img src="/home/about"  />
